.div-container {
    display: flex;
    flex-direction: column;
  }
  
  .div-container > * {
    width: 100%;
  }

  .calc-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 5%;
  }

  .fr{
      text-align: right;
  }